.container {
    display: flex;
    height: 400px; /* Altura do conteiner para visulaizacao*/
    border: 1px solid #ccc;
    width: 300px;
    /* flex-wrap: wrap; */
}

.item {
    width: 100px;
    height: 50px;
    background: lightblue;
    margin: 10px;
}

.items {
    align-items: center;
}

.content {
    align-content: center;
    flex-wrap: wrap;
}

.align-self {
    align-self: center;
}