* {
  padding: 0;
  margin: 0;
}

.header {
  background-color: blueviolet;
  grid-area: header;
}

.menu {
  background-color: brown;
  grid-area: menu;
}

.content {
  background-color: chocolate;
  grid-area: content;
}

.footer {
  background-color: aqua;
  grid-area: footer;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "header header header"
    "menu content content"
    "footer footer footer";
}
